@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
  font-family: 'Fredoka'
}
body {
  scroll-behavior: smooth;
}

.bg-white {
  background-color: #ffff;
}

.title {
  height: 8px;
  background-color: #ffff;
}

.box-part {
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
  height: 90%;
  transition: 0.2s ease-in-out transform;
  color: #ffff;
}

.box-part:hover {
  transform: scale(1.2);
}

.text {
  margin: 20px 0px;
}

.link-white {
  color: #edf0f3 !important;
}

.footer__description {
  display: flex;
  flex-direction: column;
}

.footer__content {
  flex: 1;
  /* Ajoutez d'autres styles nécessaires pour le paragraphe */
}